@inject IViewLocalizer localizar

@{
    ViewData["Title"] = "Home";
}

<div class="container content-area">
    <main role="main" class="pb-3 flex-shrink-0">
        

        <div class="row">
            <div class="col">
                <span style="color:red">
                    Titel + explaination.
                </span>
            </div>
            <div class="col">
                <span style="color:red">

                    LOGO
                </span>
            </div>
        </div>

    </main>
</div>
